---
import '../../styles/home/home.css';
---

<section id="inicio" class=" py-4 lg:h-[100vh] mx-auto w-full max-w-[985px] lg:px-6">
  <div class="text-white px-[30px] pt-[30px] lg:px-[60px] lg:pt-[60px]">
    <div class="contenedor">
      <span class="text-4xl text-white">Hola,</span>
        <ul>
          <li>Me llamo</li>
          <li>游눹</li>
          <li>游땔</li>
        </ul>
    </div>
    
    <h2 class="text-5xl">Jonathan Gonz치lez</h2>
    <h4 class="textGradient text-2xl font-bold mt-1">Desarrollador Web</h4>
    <p class="text-lg my-8 font-light w-full max-w-[585px]">
      Front-End Devolper con mas de 3 a침os de experiencia en JavaScript,
      HTML, CSS y React.JS.
      Creo experiencias web interactivas siguiendo las mejores pr치cticas de dise침o y desarrollo.
    </p>
    <div class="mt-12">
      <a
        href="/pdf/hoja-de-vida-jg.pdf"
        class="py-3 px-5 mt-5 rounded-lg border-blueviolet border-[2px] hover:bg-blueviolet transition-colors ease-linear duration-300"
        target="_blank">
        Descargar CV
      </a>
    </div>
  </div>
</section>