---
import '../../styles/footer/footer.css'


---

<section class="bg-dark w-full flex justify-center">
  <footer class="w-full max-w-[1200px] flex gap-x-8 justify-center px-4 lg:pl-[80px] pt-[30px] lg:pb-[30px] pb-10">
    <div class="">
      <div class="sec aboutus">
        <h2 class="sec__h2">About Us</h2>
        <p>Eyyy! ¿Que tal? Soy Jonathan Gonzalez un desarrollador Front-End, ¿te ha gustado lo que viste? si es así, entonces echa un vistazo a los links rápidos que están en la parate de al lado ➡ si estas en Desktop o si estas en mobile en la parte de abajo ⬇ también, si quieres saber más de mí, puedes ver mis redes sociales que están justo abajo de este texto.</p>
      </div>
      <ul class="sci__footer">
        <li>
          <a href="#">
            <i class="fab fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/jhonnierGS" target="_blank">
            <i class="fab fa-twitter-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/jonathan-andres-gonzalez-saenz-/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li><a href="https://github.com/JhonnierGS" target="_blank"><i class="fab fa-github-square"></i></a></li>
      </ul>
    </div>
    <div class="sec quickLinks w-full">
      <h2 class="sec__h2">Quick Links</h2>
      <ul>
        <li>
          <a href="https://jhonniergs.github.io/BlogEnglish./quickLinks/sobre.html" target="_blank">About Us Smoke?</a>
        </li>
        <li>
          <a href="https://jhonniergs.github.io/BlogEnglish./quickLinks/cube.html" target="_blank">Climbing Cube</a>
        </li>
        <li>
          <a href="https://jhonniergs.github.io/BlogEnglish./quickLinks/parallax.html" target="_blank">Parallax</a>
        </li>
        <li>
          <a href="https://jhonniergs.github.io/BlogEnglish./quickLinks/Neon.html" target="_blank">Neon Light Text</a>
        </li>
        <li>
          <a href="https://jhonniergs.github.io/BlogEnglish./quickLinks/flying.html" target="_blank">Flying Rocket</a>
        </li>
      </ul>
    </div>
    <div class="sec contact__footer">
      <h2 class="sec__h2">Contact info</h2>
      <ul class="info">
        <li>
            <span><i class="fas fa-map-marker-alt"></i></span>
            <p>Bogota, Colombia</p>
        </li>
        <li>
            <span><i class="fas fa-phone"></i></span>
            </p><a>+57 304 328 6532</a><p>
        </li>
        <li>
            <span><i class="fas fa-envelope"></i></span>
            <p><a>gs.170590@gmail.com</a></p>
        </li>
      </ul>
    </div>
  </footer>
<div>